#proact-descrip {
	margin-top: 20px;
}

#terms {
	border: solid;
	border-color: rgb(194, 194, 194);
	border-width: 1px;
	overflow:auto;
	height: 150px;
}

#terms p{
	padding-left: 50px;
	padding-right: 50px;
}

#agree-button {
	margin-top: 20px;
}

#intro {
	margin-top: 10%;
	margin-right: 10%;
	margin-left: 10%;
	text-align: left;
}

#intro label {
	margin-top: 20px;
	width: 100%;
}
